rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn(){return request.auth != null;}
    function admin(){return signedIn() && request.auth.token.admin == true;}
    function owner(uid){return signedIn() && request.auth.uid == uid;}

    match /users/{uid}{
      allow create,read,update: if owner(uid)||admin();
      allow delete: if admin();
    }

    match /familyMembers/{id}{
      allow create: if signedIn() && request.resource.data.customerId==request.auth.uid;
      allow read,update,delete: if admin() || (signedIn() && resource.data.customerId==request.auth.uid);
    }

    match /addresses/{id}{
      allow create: if signedIn() && request.resource.data.customerId==request.auth.uid;
      allow read,update,delete: if admin() || (signedIn() && resource.data.customerId==request.auth.uid);
    }

    match /bookings/{id}{
      allow create: if signedIn() && request.resource.data.customerId==request.auth.uid;
      allow read: if admin() || (signedIn() && (resource.data.customerId==request.auth.uid || resource.data.partnerId==request.auth.uid));
      allow update: if admin()
        || (signedIn() && resource.data.customerId==request.auth.uid
            && request.resource.data.customerId==resource.data.customerId
            && request.resource.data.partnerId==resource.data.partnerId
            && request.resource.data.status==resource.data.status)
        || (signedIn() && resource.data.partnerId==request.auth.uid
            && request.resource.data.customerId==resource.data.customerId
            && request.resource.data.partnerId==resource.data.partnerId
            && request.resource.data.status in ["partner_assigned","partner_on_the_way","service_started","completed","cancelled"]);
      allow delete: if admin();
    }

    match /partners/{uid}{
      allow create: if owner(uid);
      allow read: if admin()||owner(uid);
      allow update: if owner(uid) || admin();
      allow delete: if admin();
    }

    match /services/{id}{
      allow read: if true;
      allow create,update,delete: if admin();
    }

    match /supportTickets/{id}{
      allow create: if signedIn() && request.resource.data.customerId==request.auth.uid;
      allow read,update: if admin() || (signedIn() && resource.data.customerId==request.auth.uid);
      allow delete: if admin();
    }
  }
}